

.bod
{
    margin-top: 2vw;
}
.container
{
    display:flex;

    justify-content: center;
    align-items: center;
    height: 70vh;
    
    
 
}
.listOptions
{
    background-color: #D3D3D3;
    border: solid ;
    border-radius: 1rem;
    padding: 4vw 2vw 4vw 2vw;
justify-content: center;

align-items: center;
}
.titlle
{
 margin-top: -4vw;
}
.titlle span
{
 
    font-size: 3vw;
    font-weight: 900;
}
.options
{
    display: flex;
text-align: center;
flex-direction: column;
margin-top: 3vw;
gap: 2vw;

}
.optionItem
{
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;
}
.backLink{
    margin-top: 2rem;
    margin-left: 1rem;
}