

.page {
  margin-top: 1.5rem;
  background-color: #d3d3d3;


  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.container {
  height: 30vh;
  margin: 0 auto;
}
.container .btn{
  text-align: center; 
}
.title {
  justify-content: center;
}
.containerForms {
  background-color: #d3d3d3;
  padding: 2rem;
  border: 2rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.inps {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.inps input {
  background-color: #d3d3d3;
  padding: 0.5rem;
  border-color: black;
  border-radius: 1rem;
  margin: 10px;
  width: 100%;
  max-width: 300px;
}

.btn button {
  background-color: #59735f;
  font-family: "Times New Roman", Times, serif;
  padding: 0.5rem;
  border-color: white;
  margin-top: 1em;
  border-radius: 2rem;
}
 select {
    background-color: #d3d3d3; /* Color de fondo blanco */
    padding: 0.5rem;
    border: 1px solid #000000; /* Borde negro */
    border-radius: 1rem;
    width: 100%;
    max-width: 300px;
    outline: none; /* Quita el contorno al enfocar */
    font-size: 1rem; 
    margin-left: 3px;
  }
  
  /* Estilos para las opciones de los combo boxes */
 select option {
    background-color: #d3d3d3; /* Color de fondo gris */
    color: #000000; /* Color de texto negro */
   
  }